<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div>
        Début Layout
    </div>

    <div>@RenderBody()</div>

    <footer class="border-top footer text-muted">
        <div>
            Fin du layout.
        </div>
    </footer>
</body>
</html>

